@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import '~normalize.css';

/* Globel */
body,html {
  font-family: "Noto Sans TC",  "Helvetica", "Roboto", "Arial", sans-serif;
  background-color: #faf1dd;
  color: #484848;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
